header {
  background-color:#F25D07;
  color: #2450A6;
  text-align: center;
  margin: 0em; /*per togliere margin panna sopra*/

  padding-right: 0em;
  padding-left: 0em;
  padding-top: 1em;
  padding-bottom: 6em;
  padding: #F25D07 !important;
  font-family: 'Chewy', cursive, !important;


}

body {
  margin:70px;
   
  text-align: center;
  background-color: #ECEEF0 !important;
  font-family: 'Chewy', cursive;
  font-family: 'Noto Serif' sans-serif;
}
nav ul { 
  list-style-type: none; 
  padding-left:0px; 
  display: inline-block;
}

nav ul li { 
  display: inline-block; 
          /*background-color: white;*/
  padding:1em;

  
  }

.whitelink {  
  text-decoration: none !important; 
  color: #2450A6;
  margin: 30px;
  }

.whitelink:hover {
  color:#ECEEF0 !important ;
  /*non so se lo fa panna o se rimane bianco*/
  text-decoration: none !important;

}
.active {
/*per evidenziare la pagina in cui siamo decidere una delle due opzioni*/
text-decoration: underline;
/*avevo messo opzione background-color: #fffff0 ma quando ho aggiunto 
in head codice per fare colonne in body mi diventava bianco */

}

.nav {margin-top: 0px auto; 
      margin-bottom: 0px auto;
      text-align: center !important; 
      }
.dropdown-menu {margin: 0px auto; 
   
  display: inline-block;
  }

.dropdown-item {
  display: inline-block;
  text-align: center !important;
}




footer {
  background-color:#2450A6;
  text-align: center;
 /*lascia i due margini cosi per avere spaziatura da entrambi i lati*/
  margin-right: 0px auto;
  margin-left: 0px auto;
  padding: 40px;
}


/* Style buttons, del documento */
.btn {
  background-color: #2450A6; 
  border: #2450A6; 
  color: white !important; 
  width:30px;
  padding: 0,5em; 
  font-size: 20px; 
  border-radius: 50%;
}


.btn:hover {
  
  color: #F25D07;
}

#homeimage {
 

 /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top:0px;
  padding
 
  margin-top: 0px;
  margin-bottom: 10%;

  min-height:10%;

}

.morepadding {
  padding: 1em 15%;
  letter-spacing: 0.05em;
  padding-top: 10em;
  padding-bottom: 10em;
}

#concerto1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
   
}
#teatro1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  
}

#banddistrada1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  
}

#bar1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  
}

#disco1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  
}
#karaoke1image {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100% !important;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
   
}


#motto {
  font-family: 'Chewy';
  text-align: center !important;
  font-size:4em;
  vertical-align;
  /*non so come mettere il testo in centro rispetto all'arancio*/
  margin-top: auto;
  margin-bottom: auto;
  

padding-right: 1em;
padding-left: 1em;
}

#pulsante {
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font-family: 'Noto Serif' sans-serif;
color: #ECEEF0;
padding: 10px 20px;
border: solid 1px #0076a3;
background: #2450A6;
}

 #pulsante:hover{
  color:#F25D07;
 }

 #concerts {
  width: auto !important;
  width: 100%;
  height: auto;
  /*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
 }

 .fa-solid {
  margin:70px;
   
  text-align: center;
 }

 .google-maps {
  position: relative;
  padding-bottom: 75%; /* Definisco l'aspect ratio */
  height: 0;
  overflow: hidden;
}
.google-maps > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#logoo {
/*i due comandi sotto servono per ridimensionare img rispetto a device reattive*/
  max-width: 100%;
  height: auto !important;
  /*4 seguenti per centrare immagine*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-height: 100px;

}

.w3-tiny {
  
}